.scrollArea {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  box-sizing: border-box;

  /* 스크롤바 디자인 */
}
.scrollArea::-webkit-scrollbar {
  width: 8px;
}
.scrollArea::-webkit-scrollbar-track {
  background: #33FF55;
}
.scrollArea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
}
.scrollArea::-webkit-scrollbar-button {
  display: none;
}